.not-found {
  font-size: 50px;
  height: 100vh;
  width: 100vw;
  background-image: url('../images/404.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;

  > div {
    &:first-of-type {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      p {
        font-size: 4rem;
        font-weight: bold;
        color: #fff;
        margin: 0 0 20px;
      }

      span {
        font-size: 1.3rem;
        width: 60%;
        display: block;
        color: #fff;
        font-weight: 300;
      }
    }

    &:last-of-type {
      margin-top: 20px;

      a {
        background: #fff;
        border-radius: 5px;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 12px 20px;
        color: var(--accent-color-1);
        cursor: pointer;

        &:hover {
          background: var(--accent-color-1);
          color: #fff;
        }
      }
    }
  }
}